.content_container {
 width: 70%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 padding: .3rem 2rem;
 gap: 7rem;
}

.searched_anime_container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border-radius: 1rem;
 overflow: hidden;
 width: 10rem;
 height: 23rem;
 cursor: pointer;
 background-color: #f2efef;
 transition: .2s;
}

.searched_anime_container:hover {
 box-shadow: .2rem .2rem .3rem #acacac;
 transform: scale(1.1);
}

.anime_img {
 min-height: 15rem;
 max-height: 15rem;
 min-width: 10rem;
 max-width: 10rem;
}

.anime_desc_container {
 padding: .4rem;
 text-align: center;
}

.anime_score {
 border-radius: .5rem;
 text-align: center;
 padding: .3rem;
 font-weight: 700;
 color: #282727;
}

.anime_name {
 line-height: 1.1rem;
 font-size: .9rem;
}